@import 'variables';

#content {
    padding: 50px;
}

#admin-side-panel {
    padding: 0px;
    margin-top: 5px;
    height: 500px;
    background-color: $white;

    #header {
        width: 100%;
        height: 32px;
        line-height: 32px;
        background-color: $first;
        text-align: center;
        color: $white;
    }

    .admin-menu-button {
        width: 100%;
        border-radius: 0px;
        box-shadow: 0px !important;
        border: 0px;
        background-color: $white;
        color: $font-color;

        &:hover, &.active, &:active, &:focus, &:visited {
            box-shadow: none !important;
            background-color: $header-gray !important;
        }
    }
}
