@import 'variables';

#admin-side-panel {
    border: 1px solid $border-color;
    padding: 0px;
    margin-top: 5px;
    height: 500px;

    #header {
        width: 100%;
        height: 32px;
        line-height: 32px;
        background-color: rgb(225, 225, 225);
        text-align: center;
        border-bottom: 1px solid $border-color;
    }

    .admin-menu-button {
        width: 100%;
        border-radius: 0px;
        box-shadow: 0px !important;
        border: 0px;
        background-color: $background;
        color: $font-color-light;

        &.active, &:active, &:focus, &:hover {
            background-color: $secondary !important;
            color: $white;
        }

        &:focus, &:active {
            box-shadow: none !important;
        }
    }
}
