#content {
    padding: 0px;

    #order-login {
        padding: 0px;
        width: 90%;
        max-width: 1400px;
        margin: 0px auto;
    }
}

.order-login-box {
    height: 289px;

    &:last-child {
        border-left: 2px dotted $first;
    }
}

#login-button-box {
    margin-bottom: 10px;
}

li {
    line-height: 28px;
}