#content {
    padding: 0px;

    #order-shipping {
        padding: 0px;
        width: 90%;
        max-width: 1400px;
        margin: 0px auto;
    }
}

#billing-checkbox {
    padding-left: 34px;
}

#billing-checkbox-label {
    padding-top: 10px;
}

#confirm-button {
    margin-left: 15px;
    width: 100px;
}