// Colors
//$first-light: #e753a2;
//$first: #ca1f7a;
//$first-dark: #b61c6e;
//$first-dark2: #aa1966;

$secondary-light: #69afff;
$secondary: #2073d1;
$secondary-dark: #095fc2;
$secondary-dark2: #145eb3;

$red: #f00000;
$red-dark: #dc0000;
$red-dark2: #c80000;

$white: rgb(255, 255, 255);
$background: rgb(244, 244, 244);
$border-color: rgb(180, 180, 180);
$green: #50bd4e;

$font-color: rgb(33, 37, 41);
$font-color-light: rgb(80, 80, 80);
$disabled: #1e4374;
$discount: #eb5600;


$first-light: #d12771;
$first: #ca286e;
$first-dark: #ca284b;
$first-dark2: #a31a55;

$secondary-light: #5f89be;
$secondary: #4d78b0;
$secondary-dark: #4671aa;
$secondary-dark2: #305a91;
