#admin-orders td {
  text-align: center;
  line-height: 41px;
}

#admin-orders td:nth-child(1) {
  width: 75px;
}

#admin-orders td:nth-child(3) {
  width: 120px;
}

#admin-orders td:nth-child(4) {
  width: 90px;
}

#admin-orders td:nth-child(5) {
  width: 175px;
}

#admin-orders td:nth-child(6) {
  width: 135px;
}

#admin-orders td:nth-child(7) {
  width: 100px;
}

