#product-big-image-box {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 75px);
  padding: 20px;
}

#product-big-image-box img {
  height: 100%;
}

#product-small-image-box {
  box-sizing: border-box;
  height: 70px;
}

#product-image-left-arrow-box,
#product-image-right-arrow-box {
  display: inline-block;
  float: left;
  height: 70px;
  width: 35px;
}

#product-image-left-arrow-box .button,
#product-image-right-arrow-box .button {
  padding-left: 0px;
  padding-right: 0px;
  width: 35px;
  height: 35px;
  line-height: 30px;
  margin-top: 21px;
  font-size: 19px;
  font-weight: normal;
}

#product-image-left-arrow-box {
  margin-left: 0px;
}

#product-small-image-slide {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: calc(100% - 80px);
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-align: center;
}

#product-small-image-slide .product-small-image {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
}

#product-small-image-slide .product-small-image img {
  width: 70px;
  height: 70px;
  transform: scale(1.1);
  transition: 0.2s;
}

#product-small-image-slide .product-small-image img:hover {
  transform: scale(1);
}

